
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>Index</h1>

    <p><a asp-controller="Home" asp-action="Sobre">Sobre</a></p>
    <p><a asp-controller="Clients" asp-action="Page1">Clients - Page1</a></p>
    <p><a asp-action="Page1">Page 1</a></p>
    <p><a asp-action="Page2">Page 2</a></p>
    <p><a asp-action="Page3">Page 3</a></p>


</body>
</html>
