
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>

    <h1>Page1</h1>

    <a asp-action="Index">Back</a>
</head>
<body>
</body>
</html>
