.sobre {
    display: flex;
}

.sobre .stand-img {
    flex: 1;
    background: url('/images/stand.jpg');
    background-position: center;
    height: auto;
}

.sobre div {
    flex: 2;
    padding: 1em;
}