.contact .map {
    padding: 1em;
    width: 100%;
    height: 392px;
}

.contact .conteudo {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.contact .conteudo div:first-child() {
    flex: 1;
}

.contact .conteudo div:nth-child(2) {
    flex: 2;
}

.contact .contactos {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--light-calm-color);
}

.contact .contactos p {
    padding: .5em;
    margin: .5em;
}

.horario {
    display: flex;
    text-align: center;
}

.horario .day {
    border: 1px solid var(--light-calm-color);
    padding: 1em;
}

.horario .day p {
    padding: 0;
    margin: 0;
}

.horario .day p:first-child {
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .conteudo {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 500px) {
    .horario {
        display: block;
    }
}