/**************************************************************
* @Author: Daniel Carneiro
* @Date:   8 Nov 2020
* @Desc:   CSS GRID styles.
***************************************************************/

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 960px;
    position: relative;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--default-shadow);
    margin: .75rem 1% 1.75rem;
    position: relative;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(135deg, #e0e0e0 0, #e2e2e2 20%, #f2f2f2 100%);
}

.grid-item .title,
.grid-item .subtitle {
    color: #000000;
    text-transform: uppercase;
    margin: 0;
}

.grid-item .title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: .5em .5em 0 .5em;
    font-size: 1.5em;
}

.grid-item .subtitle {
    padding: 0 .5em .5em .8em;
}

.grid-item .specifications {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem .5rem 0;
    list-style: none;
}

.grid-item .specifications li {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    text-align: center;
    font-family: Amsi, Verdana, Geneva, sans-serif;
    font-size: .625rem;
}

.grid-item .specifications li .icon {
    color: var(--secondary-color);
    display: block;
    /* font-size: 1.125em; */
    height: 1.5rem;
    /* line-height: 1.75rem; */
    margin: 0 auto .5em;
    width: auto;
}


.grid-item .image-container .status {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--bg-color);
    padding: .3em .3em .3em .3em;
    background: var(--transparent-black);
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 1rem;
}

.grid-item .image-container .count {
    position: absolute;
    top: 0;
    right: 0;
    text-shadow: 0px 0px 3px var(--transparent-black);
    color: var(--bg-color);
    padding: .5em;
}

.grid-item .image-container {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
}

/* .grid-item img {
    max-width: 350px;
} */

.grid-item .image-container .placeholder {
    width: 100%;
    height: 250px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-item .price {
    font-family: Impact, "Franklin Gothic Bold", sans-serif;
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: .5rem 0;
    text-align: center;
}

@media screen and (max-width: 1600px) and (min-width: 850px) {
    .grid-item {
        flex: 1 1 30%;
        max-width: 48%;
    }
}

@media (max-width: 729px) {
    .grid-item {
        flex: 1 1 31%;
        max-width: 48%;
    }
}

@media (max-width: 600px) {
    .grid-item {
        flex: 1 1 50%;
        max-width: 50%;
    }
}
