/**************************************************************
* @Author: Daniel Carneiro
* @Date:   8 Nov 2020
* @Desc:   CSS GRID styles.
***************************************************************/

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 960px;
    position: relative;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--default-shadow);
    margin: .75rem 1% 1.75rem;
    position: relative;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(135deg, #e0e0e0 0, #e2e2e2 20%, #f2f2f2 100%);
}

.grid-item .title,
.grid-item .subtitle {
    color: #000000;
    text-transform: uppercase;
    margin: 0;
}

.grid-item .title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: .5em .5em 0 .5em;
    font-size: 1.5em;
}

.grid-item .subtitle {
    padding: 0 .5em .5em .8em;
}

.status-positive {
    background: var(--transparent-green) !important;
}

.status-yellow {
    background: var(--transparent-yellow) !important;
}

.status-assertive {
    background: var(--transparent-assertive) !important;
}

.status-amber {
    background: var(--transparent-amber) !important;
}

@media screen and (max-width: 1600px) and (min-width: 850px) {
    .grid-item {
        flex: 1 1 30%;
        max-width: 48%;
    }
}

@media (max-width: 729px) {
    .grid-item {
        flex: 1 1 31%;
        max-width: 48%;
    }
}

@media (max-width: 600px) {
    .grid-item {
        flex: 1 1 50%;
        max-width: 90%;
    }
}