body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    text-align: center;
}

.login-box {
    margin: 0 auto;
    margin-top: 120px;
    max-width: 300px;
    height: auto;
    border: 1px solid aliceblue;
    background-color: white;
    border-radius: 10px;
}

.login-form {
    padding: 20px;
}