
@{
    Layout = "_Layout";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clients | Page1</title>
    <h1>Clients - Page1</h1>

    <a asp-action="Index">Back</a>

</head>
<body>
</body>
</html>
