body {
}


a {
    display:block;
    text-decoration:none;
    background-color:#ff6a00;
    margin-top:5px;
    padding:10px;
    border-radius: 10px;
    color:#fff;
    text-align:center;
}

h1{
    background-color:#ff0000;
    text-align:center;
    padding:10px;
    border-radius: 10px;
    color:#fff;
}
    
