<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Daniel Carneiro">
    <meta name="description" content="Maior site de venda automovel e motociclos em Portugal">
    <meta name="author" content="John Doe">
    <meta name="keywords" content="auto, venda, automoveis, veiculos, motociclos">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <title>AutoPT - Stand de carros importados</title>
</head>

<body ng-app="app">
    <div ng-controller="controller">
        <header>
            <nav class="top-nav">
                <a class="logo" href="#home"><i class="fa fa-car" aria-hidden="true"></i>
                    {{title}}</a>
                <ul>
                    <li><a class="active" href="#home">Home</a></li>
                    <li><a href="test.html">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </nav>
        </header>

        <nav class="breadcrumbs">
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#clients">Clients</a>
            <a href="#contact">Contact</a>
        </nav>

        <div class="search">
            <div><input ng-model="searchQuery" placeholder="Pesquisa..." /></div>

        </div>

        <main>
            <section class="grid-container">
                <div class="grid-item" ng-repeat="car in cars | filter:searchQuery">
                    <h3 class="title">{{car.make}} - {{car.model}} ({{car.modelYear}})</h3>
                    <p class="subtitle">{{car.city}} | {{car.country}}</p>
                    <div class="image-container">
                        <div class=" status" ng-if="car.status">{{car.status}}</div>
                        <div class="count"><i class="fa fa-camera"></i> {{car.photos.length + 1}}</div>
                        <div class="placeholder" style="background-image: url({{car.featurePhoto}})">
                        </div>
                    </div>
                    <div class="price">{{car.price}}</div>
                    <ul class="specifications">
                        <li>
                            <img class="icon" src="images/cards/engine.png" alt="Coupe">
                            <span>{{car.engine}}L</span>
                        </li>
                        <li>
                            <img class="icon" src="images/cards/gauge.png" alt="Coupe">
                            <span>{{car.km}} KM</span>
                        </li>
                        <li>
                            <img class="icon" src="images/cards/gear.png" alt="Coupe">
                            <span>{{car.transmission}}</span>
                        </li>
                        <li>
                            <img class="icon" src="images/cards/gas.png" alt="Coupe">
                            <span>{{car.fuel}}</span>
                        </li>
                        <li>
                            <img class="icon" src="images/cards/coupe.png" alt="Coupe">
                            <span>{{car.carType}}</span>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

    </div>

    <footer>
        <div>
            <p>&copy 2020 Copyright</p>
            <a href="https://github.com/loonix/"> Made by Daniel Carneiro</a>
        </div>
    </footer>

    <script src="https://code.angularjs.org/1.8.2/angular.js"></script>
    <script src="js/main.js"></script>
</body>

</html>